
<% flash.each do |type, msg| %>
    <div id="error-explanation">
      <div><%= msg %></div>
    </div>
<% end %>

  <br />

<%= render 'form' %>

<br />

<div class="container">
    <div class="button" onclick="location.href='/auth/spotify';" style="cursor: pointer;">
        <div>Login With Spotify</div>
    </div>

    <div class="text">Don't have<br> an account?</div>

    <div class="button" onclick="location.href='/signup';" style="cursor: pointer;">
        <div>Sign Up</div>
    </div>
</div>