
<% flash.each do |type, msg| %>
    <div id="error-explanation">
      <div><%= msg %></div>
    </div>
<% end %>

  <br />

<%= render 'form' %>

<br />

<div class="container">
    <div class="button" onclick="location.href='/auth/spotify';" style="cursor: pointer;">
        <div>Login With Spotify</div>
    </div>

    <div class="text">Don't have<br> an account?</div>

    <div class="button" onclick="location.href='/login';" style="cursor: pointer;">
        <div><%= link_to "Sign Up", signup_path %></div>
    </div>
</div>