<div class="container">
    <div class="welcome">
        <h2>Welcome, <%= current_user.username %></h2>
    </div>
</div>
<h2>Your Submissions:</h2>
<table>
    <tr>
      <th>Album Name</th>
      <th>Artist</th>
    </tr>
    <% @submissions.each do |sub| %>
    <tr>
      <td><%= link_to sub.name, album_path(sub) %></td>
      <td><%= link_to sub.artist_name, artist_path(sub.artist) %></td>
    </tr>
    <% end %>
</table>