<h2>Welcome to BeatsME</h2>
<br />
<br />

<div class = "container">
    <div class="button" onclick="location.href='/albums/new';" style="cursor: pointer;">
        <div>Add<br>Album</div>
    </div>

    <div class="button" onclick="location.href='/albums';" style="cursor: pointer;">
        <div>Explore<br>Albums</div>
    </div>

    <div class="button" onclick="location.href='/artists';" style="cursor: pointer;">
        <div>Explore<br>Artists</div>
    </div>

    <br />
    <%= form_with(url: '/login', method: "post") do %>
        <%= hidden_field_tag(:username, "Guest") %>
        <%= hidden_field_tag(:password, "guest") %>
        <%= submit_tag("Log In as Guest") %>
    <% end %>
  
</div>
<br />
    <p>Anyone can browse beats, only registered users may submit new beats</p>
    <p>Whatever you do, do it for the love of music</p>
