Welcome to BeatsME
<br />
<br />

<div class = "container">
    <div class="button">
        <div><%= link_to "Add an Album", new_album_path %></div>
    </div>

    <div class="button">
        <div><%= link_to "Explore Albums", albums_path %></div>
    </div>

    <div class="button">
        <div><%= link_to "Explore Albums", artists_path %></div>
    </div>
</div>