<% @albums.each do |album| %>
    <div class="list-item">
        <h3><%= link_to album.name, album_path(album) %> 
        <% if current_user && check_ownership(album) %>
        | <%= link_to "Edit", edit_album_path(album) %></h3> 
        <% end %>
    </div>
<% end %>