/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.field_with_errors {
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px;
}

#error-explanation {
    display: inline;
    color: whitesmoke;
    div {
        color: red;
        display: block;
    }
}

html {
    font-family: "Arial Black", Gadget, sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    margin: 0 0 auto 0;
}

.wrapper {
    background-color: rgb(41, 41, 41);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: rgb(67, 147, 218);
    &:hover {
        color: rgb(136, 58, 238);
    }
}

div.container-lined {
    display: flex;
    border-bottom: 2px solid rgb(136, 58, 238)
}


p, h1, h2, h3, h4 {
    color: rgb(67, 147, 218);
}

.header {
    display: flex;
    background-color: rgb(41, 41, 41);
    width: 100%;
    border-left: 14px;
    padding-left: 2px;
    height: auto;
}

.title {
    padding-left: 10px;
}

    .navbar {
        margin-left: auto;
        display: flex;
    }

    .nav-container {
        display: flex;
        padding: 10px;
        background-color: darkgrey;
        margin: 10px;
        border-radius: 10px;
        text-align: center;
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
            background-color: whitesmoke;
            transition: 0.5s ease;
            .nav-item  {
                color: rgb(67, 147, 218);
            }
        }
    .nav-item  {
        color: rgb(136, 58, 238);

    }
}

.container {
    display: flex;
}
    .button {
        display: flex;
            padding: 20px;
            background-color: darkgrey;
            margin: 10px;
            border-radius: 10px;
            text-transform: uppercase;
            div {
                color: rgb(136, 58, 238); 
                text-align: center;
            }
            &:hover {
                cursor: pointer;
                background-color: whitesmoke;
                transition: 0.2s ease;
                div {
                    color: rgb(67, 147, 218);
                }
            }
    }

input {
    background-color: black;
    border: 2px;
    padding-block: rgb(136, 58, 238);
    padding: 5px;
    border-radius: 10px;
    font-size: medium;
    text-align: left;
    color: whitesmoke;
}

label { 
    background-color: #292929;
    border: 2px;
    padding-block: rgb(136, 58, 238);
    padding: 5px;
    border-radius: 10px;
    font-size: medium;
    text-align: left;
    color: rgb(136, 58, 238);
}

#album_genre_id, #genre {
    color: rgb(136, 58, 238);
    background-color: black;
    height: 30px;
    width: 250px;
    font-size: 15px;
}

table {
    border-spacing: 5px;
    width: 100%;
    th {
        text-align: left;
        height: 50px;
        border-bottom: 2px solid rgb(136, 58, 238);
    }
    tr {
        padding: 5px;
        font-size: medium;
        color: whitesmoke;
        font-size: 25px;
    }
    td {
        padding: 15px;
        height: 25px;
        a {
            font-size: 20px;
        }
    }
}
.alb-header {
    display: flex;
    background-color: rgb(41, 41, 41);
    width: 100%;
    border-left: 14px;
    padding-left: 2px;
    height: 20%;
    .alb-container {
        display: inline;
        border: 10px;
        padding: 5px;
        color: whitesmoke;
        font-size: 25px;
        div.genre {
           color: rgb(136, 58, 238);
        }
    }
    .img-container {
        text-align: right;
        height: auto;
        width: 500px;
        padding: 20px;
        float: right;
        border-radius: 4px;
        margin-left: auto;
        padding: 30px;
        img {
            text-align: right;
            float: right;
            height: 75%;
            width: 75%;
            border: 5px;
            border-radius: 5px;
        }
    }
}

.text {
    color: whitesmoke;
    text-align: right;
    padding-left: 25px;
    padding-top: 15px;
}