<div class="header">
    <div class="title"><h1><%= link_to "BeatsME", root_path%></h1></div>
        <div class="navbar">
            <% if user_is_authenticated %>
                <div class="nav-container" onclick="location.href='/my_page';" style="cursor: pointer;">
                    <div class="nav-item">My<br>Page</div>
                </div>
                <div class="nav-container" onclick="location.href='/logout';">
                    <div class="nav-item">Log<br>Out</div>
                </div>
            <% else %>
                <div class="nav-container" onclick="location.href='/signup';">
                    <div class="nav-item">Sign<br>Up</div>
                </div>
                <div class="nav-container" onclick="location.href='/login';">
                    <div class="nav-item">Log<br>In</div>
                </div>
            <% end %>
        </div>
    </div>
</div>
